<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListePlatServlet</servlet-name>
        <servlet-class>controller.ListePlatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListePlatsServlet</servlet-name>
        <servlet-class>controller.ListePlatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListePlatParCategorieServlet</servlet-name>
        <servlet-class>controller.ListePlatParCategorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportController</servlet-name>
        <servlet-class>controller.ExportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListePlatServlet</servlet-name>
        <url-pattern>/ListePlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListePlatServlet</servlet-name>
        <url-pattern>/ListePlats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListePlatParCategorieServlet</servlet-name>
        <url-pattern>/ListePlatParCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportController</servlet-name>
        <url-pattern>/ExportController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
